<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %} {% endblock title%}
  </head>
  <body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li><a href="{% url 'account_list' %}">Accounts List</a></li>
                <li><a href="{% url 'create_account' %}">Add Account </a></li>
                <li><a href="{% url 'category_list' %}">Expense Category List</a></li>
                <li><a href="{% url 'create_category' %}">Add Category</a></li>

                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                    <a href="{% url "login" %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
  </body>
</html>
