{% extends 'base.html' %} {% block title %}
<title>Expense Categories List</title>
{% endblock title %} {% block content %}
<main>
  <div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <td>{{ category.name }}</td>
          <td>{{ category.receipts.all|length}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <main></main>
</main>
{% endblock content %}
